*{margin:0;padding:0}
@font-face
	{
	font-family: DebevicCircularRegular;
	src: url(DebevicCircularRegular.ttf);
	}
div.top{
	background:#000000;
	height: 150px;
	overflow: hidden;
}
.box {
	padding:20px 10px 20px 10px ;
	height: 90%;
	width: 970px;
	margin: 0 auto;
}

div.top div.left h1 {
	margin-top: 10px;
	font-size:54px;
	color:#9A9A9A;
}

div.top div.left h3 {
	color:#1F50A7;
	font-size: 16px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	
}
div.top div.right p {
	width:90px;
	text-align: center;
	margin-top: 90px;
	margin-left:10px;
	color:#9A9A9A;
	float:left;
	padding: 10px 5px 10px 5px;
	font-family:Helvetica ;
	font-size: 14px;
	border-top: 1.5px solid #9A9A9A;
	cursor: pointer;
/*	background-color: red;*/
}
div.top div.right p:hover{
	border-top: 4px solid #1F50A7;
	color: #1F50A7;
}
div.top>div.box>div.left {
	float: left;
}
div.top>div.box>div.right  {
	width: 46%;
	float: right;
	height: 40px;
	
}
div.top div.right p.second{
	border-top: 5px solid #1F50A7;
	color: #1F50A7;
}



.content {
	height:1614px;
	background-color: #FFFFFF;
}

.content .box .wind{
    /* height: 455px/1814px; */
    height: 22.4826%;
    width: 91%;
	padding: 4% 4% 4% 4%;
	border: 0.8px solid #9D9292;
    border-radius: 5px;
    background-color: #F8F8F8;
	overflow: hidden;
	margin-bottom: 5%;
}
.content .box .wind div.cl{
	width:50%;
	float:left;
}
.content .box .wind div.cl h1{
	font-size: 42px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
    color: #054072;
	margin-bottom: 3.841%;
}
.content .box .wind div.cl h2{
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	word-spacing: 0.2em;
	color: #544c4a;
	font-size: 20px;
	margin-bottom: 1.841%;
	
    
}
.content .box .wind div.cl p{
	font-weight: lighter;
	word-spacing: 0.2em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	word-spacing: 0.2em;
	color: #544c4a;
	font-size: 16px;
	line-height: 20px;
	
    
}
.content .box .wind div.cl ul{
	margin-top: 14%;

}
.content .box .wind div.cl li{
	float: left;
	list-style: none;
	margin-left: 4%;

	font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #1F50A7;
}
.content .box .wind div.cl a{
	text-decoration: none;
	color: #494949;
}
.content .box .wind div.cl a:hover{
	font-weight: bold;
}
.content .box .wind div.cl li:nth-child(1){
	margin-left: 0;
}


.content .box .wind div.cr{
	float: right;
	height: 100%;
    width: 35%;
    overflow: hidden;
    background-color: red;
    border: 0.8px solid #9D9292;
}
.content .box .wind div.cr img{
	width: 120%;
    height: 160%;
    margin: -8% 5% 0% -14%;
}



.wrodpart {
	width: 70%;
}
.content .box .wrodpart .line{
	margin: 0.5% 0 0.5% 0;
	border-top: 1px solid rgba(154, 154, 154, 0.45);
}
.content .box .wrodpart h5{
	/* font: normal normal normal 25px/1.2em helvetica-w01-light,helvetica-w02-light,sans-serif; */
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
    color: #1F50A7;
}
.content .box .wrodpart p{
	font-size: 16px;
	font-weight: lighter;
    word-spacing: 1px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content .box .wrodpart span{
	font-size: 22px;
	color: #405780;
	font-weight: lighter;
    word-spacing: 1px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content .box .wrodpart .st{
	font-size: 18px;
	margin-bottom: 2%;
}
.wrodpart p{
	margin-bottom: 2%;
}

.wl{
	float: left;
}
.wr{
	width: 27%;
	margin-left: 3%;
	float: right;
	height: 300px;
}
.content .box .wr .line{
	margin: 0.5% 0 0.5% 0;
	border-top: 1px solid rgba(154, 154, 154, 0.45);
}
.content .box .wr h5{
	/* font: normal normal normal 25px/1.2em helvetica-w01-light,helvetica-w02-light,sans-serif; */
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
    color: #1F50A7;
}
.content .box .wr p{
	font-size: 16px;
	font-weight: lighter;
	word-spacing: 1px;
	margin-top: 1%;
	margin-bottom: 1%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




.tail{
	height: 60px;
	background-color:white;
}
.tail p{
	text-align: left;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #494949;
}
.tail>div.box{
	height: 50%;
    padding: 1.15% 0px 0px 0px;
}